/*untuk tablet*/
@media all and (max-width: 1000px) {
	*{
		max-width: 1000px;
	}
  .about .container img{
    width: 700px;
  }
  h1.desc{
    font-size: 70px;
    font-weight: bold;
  }
  .gallery img{
    height: 400px;
    margin: 0 300px;
    border: 30px solid rgb(198,57,74);
  }
  h1.album{
    margin: -35px 300px;
  }
}

/*untuk smartphone*/
@media all and (max-width: 670px) {
  *{
    max-width: 100%;
  }
  .about .container img{
    width: 500px;
  }
  .menu{
    margin: 0 20px;
  }
  h1.desc{
    font-size: 40px;
    font-weight: bold;
  }
  .gallery img{
    height: 400px;
    margin: 0 150px;
    border: 30px solid rgb(198,57,74);
  }
  h1.album{
    margin: -55px 245px;
  }
}

/*Untuk Handhphone*/
@media screen and (min-width: 557px) {
  *{
    max-width: 100%;
  }
  h1 .main{
    font-weight: bold;
    font-size: 34px;
    font-style: fantasy;
  }
  p.main {
    width: 50%;
  }
  .about .container img{
    width: 300px;
  }
  .menu{
    margin: 0 5px;
  }
  .menu:hover{
    color: #ec2a21;
    border-bottom: 2px solid #ec2a21;
  }
  a.play{
    float: none;
    margin-top: 10px;
    padding: 5px;
    border-radius: 3px;
    margin-right: 20px;
    display: inline-block;
  }
  h1.desc{
    font-size: 20px;
    font-weight: bold;
  }
  .intro p, a{
    font-size: 10px;
  }
  .gallery img{
    height: 230px;
    margin: 0 45px;
    border: 20px solid rgb(198,57,74);
  }
  h1.album{
    margin: -45px 65px;
  }
  .album a:hover{
    color: rgb(251,151,73);
  }
}
